* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none
}

body {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-top: 70px;
    background-color: #fefefe;
    transition: .3s ease all
}

body.dark {
    background: #222
}

body.dark p {
    color: #fff
}

body.dark #slider ul li {
    background: #333
}

body.dark .texto p {
    background: #222
}

body.dark button:hover {
    box-shadow: 2px 2px 15px 0 #fff
}

body.dark #button:hover {
    box-shadow: 2px 2px 15px 0 #fff
}

ul {
    list-style: none
}

@keyframes acercarLapiz {
    from {
        transform: scale(.5)
    }
    to {
        transform: scale(1)
    }
}

.logo img {
    width: 50px;
    height: 60px;
    margin-top: 10px
}

h1 {
    background: red;
    color: #FFF;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    display: inline-block
}

.primerdiv {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    margin: 30px;
    padding: 20px;
    color: red
}

.div-img img {
    width: 100%
}

.texto-boton {
    text-align: center
}

.discurso {
    display: flex;
    background: red;
    padding: 50px
}

.discurso h3 {
    color: #FFF;
    text-align: center;
    font-size: 50px
}

.discurso p {
    background: #FFF;
    color: #000;
    font-size: 25px;
    border-radius: 20px;
    margin: 10px;
    padding: 30px
}

.lapiz {
    width: 200px;
    height: 200px
}

.lapiz img {
    width: 200px;
    height: 200px;
    animation-name: acercarLapiz;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

h4 {
    text-align: center;
    font-size: 50px;
    color: red;
    padding: 20px
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lobster', cursive
}

.navegacion {
    background: red;
    width: 100%;
    position: fixed;
    margin-top: -70px;
    z-index: 300;
    display: flex;
    justify-content: space-between
}

.nav-main {
    font-size: 17px;
    height: 20px;
    padding: 20px;
    display: inline-block
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    font-size: 1.8rem;
    display: none
}

.menu-btn i {
    color: #FFF
}

button,
#button {
    font-family: 'Lobster', cursive
}

.boton-mas {
    list-style-type: none;
    border: 1px solid #000;
    font-weight: 700;
    font-size: 20px;
    background: red;
    color: #FFF;
    padding: 20px;
    margin: 20px;
    border-radius: 20px
}

.switch {
    background: red;
    border: 1px solid #fff;
    border-radius: 1000px;
    color: #fff;
    position: relative;
    display: flex;
    cursor: pointer
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px red
}

.switch.active::after {
    right: 0;
    left: unset
}

span {
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px
}

span i {
    font-size: 18px
}

.boton-mas:hover {
    box-shadow: 2px 2px 15px 0 #000;
    cursor: pointer
}

#button {
    list-style-type: none;
    border: 1px solid #000;
    font-weight: 700;
    font-size: 20px;
    background: red;
    color: #FFF;
    padding: 20px;
    margin: 20px;
    border-radius: 20px
}

#button:hover {
    box-shadow: 2px 2px 15px 0 #000;
    cursor: pointer
}

.nav-main ul {
    display: flex
}

.nav-main ul li {
    padding: 10px
}

.nav-main ul li a {
    padding: 10px;
    color: #FFF
}

.nav-menu a:hover {
    border-bottom: 2px solid #FFF
}

img {
    width: 300px;
    height: 300px;
    margin: auto;
    object-fit: contain;
    position: relative
}

#slider {
    scroll-margin-top: 60px;
    max-width: 800px;
    margin: 0 auto
}

#slider ul li {
    background-color: #fff
}

.pie {
    background: red;
    color: #FFF;
    text-align: center;
    padding: auto
}

.iconos {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center
}

.iconos i {
    margin: 20px 20px;
    font-size: 2em
}

form {
    margin: 80px;
    padding: 20px;
    display: block;
    text-align: center
}

form h5 {
    text-align: center;
    font-size: 50px;
    color: red;
    padding: 20px
}

form p {
    font-size: 30px
}

#input::placeholder {
    font-size: 20px;
    font-family: 'Lobster', cursive
}

#input::selection {
    color: #FFF;
    background: #000
}

#input {
    width: 70%;
    height: 70%;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px
}

@media(max-width:1300px) {
    body {
        text-align: center
    }
    .navegacion {
        text-align: left
    }
}

@media(max-width:960px) {
    h1 {
        font-size: 45px
    }
    .nav-main {
        font-size: 16px
    }
    .logo img {
        width: 45px;
        height: 55px;
        margin-top: 5px
    }
    h2 {
        font-size: 48px
    }
    .primerdiv {
        flex-wrap: wrap
    }
    .discurso p {
        font-size: 20px
    }
}

@media(max-width:800px) {
    #slider h3,
    h4 {
        font-size: 40px
    }
    form {
        margin: 30px
    }
    form h5 {
        font-size: 40px
    }
    form p {
        font-size: 20px
    }
    #input {
        width: 80%;
        height: 80%;
        padding: 10px
    }
}

@media (max-width:750px) {
    .menu-btn {
        display: block;
        margin-top: -8px
    }
    .primerdiv img {
        width: 95%
    }
    ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: red;
        font-size: 20px;
        height: 1300%;
        width: 40%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform 0.5s ease-in-out
    }
    .nav-menu a:hover {
        border-bottom: 1px solid #fff
    }
    ul.nav-menu li a {
        color: #fff
    }
    ul.nav-menu.show {
        transform: translateX(-20px)
    }
}

@media(max-width:705px) {
    .nav-main {
        font-size: 15px
    }
}

@media(max-width:700px) {
    .discurso h3 {
        font-size: 45px
    }
    .discurso p {
        font-size: 20px
    }
}

@media(max-width:596px) {
    ul.nav-menu {
        font-size: 16px
    }
    .discurso {
        flex-wrap: wrap
    }
    .discurso p {
        padding: 15px;
    }
}

@media(max-width:500px) {
    .logo img {
        width: 40px;
        height: 50px
    }
    
    .discurso h3 {
        font-size: 40px
    }
    ul.nav-menu.show {
        transform: translateX(-20px)
    }
    .nav-menu ul li {
        padding: 20px
    }
}

@media(max-width:449px) {
    ul.nav-menu {
        padding: 15px
    }
    .discurso p {
        font-size: 18px
    }
}

@media(max-width:414px) {
    ul.nav-menu {
        height: 2000%
    }
}

@media(max-width:374px) {
    h1 {
        font-size: 35px
    }
    .primerdiv {
        margin: auto
    }
    h2 {
        font-size: 40px
    }
    ul.nav-menu {
        width: 50%;
        font-size: 15px
    }
    .logo img {
        width: 40px;
        height: 50px;
        margin-top: 2px
    }
    .discurso {
        padding: 20px
    }
}

@media(max-width:288px) {
    ul.nav-menu {
        font-size: 13px
    }
    #slider img {
        width: 260px;
        height: 260px
    }
    form {
        margin: 15px
    }
    form h5 {
        font-size: 35px
    }
    form p {
        font-size: 18px
    }
    #input {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        padding: 6px
    }
}